<main class = "container">
<% if user_signed_in? %>
<% else %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">See your book stats</h1>
    <p class="lead">Data visualization for all the books you've read</p>
    <%= image_tag("goodreads_icon_m.png") %><%=button_to "Login with goodreads", params[:url], class: "btn btn-light" %>
  </div>
</div>
	<% end %>
</main>
